
a {
    color: #1863a1
}

a:visited {
    color: blue
}

a:focus {
    color: green;
}

a:hover {
    color: red; /* #0181eb */
}

a:active {
    color: black
}

a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

p,
article blockquote,
ul,
ol {
    margin-bottom: 0.8em; /* changed this from 1.5em to 0.8 */
}

ul {
    list-style-type: disc
}

ul ul {
    list-style-type: circle;
    margin-bottom: 0
}

ul ul ul {
    list-style-type: square;
    margin-bottom: 0
}

ol {
    list-style-type: decimal
}

ol ol {
    list-style-type: lower-alpha;
    margin-bottom: 0
}

ol ol ol {
    list-style-type: lower-roman;
    margin-bottom: 0
}

ul,
ul ul,
ul ol,
ol,
ol ul,
ol ol {
    margin-left: 1.3em;
    padding-left: 0.5em;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

sup,
sub {
    font-size: 0.75em;
    position: relative;
    display: inline-block;
    padding: 0 .2em;
    line-height: .8em
}

sup {
    top: -.5em
}

sub {
    bottom: -.5em
}

a[rev='footnote'] {
    font-size: .75em;
    padding: 0 .3em;
    line-height: 1
}

q {
    font-style: italic
}

q:before {
    content: "\201C"
}

q:after {
    content: "\201D"
}

em,
dfn {
    font-style: italic
}

strong,
dfn {
    font-weight: bold
}

del,
s {
    text-decoration: line-through
}

abbr,
acronym {
    border-bottom: 1px dotted;
    cursor: help
}

hr {
    margin-bottom: 0.2em
}

small {
    font-size: .8em
}

big {
    font-size: 1.2em
}

article blockquote {
    font-style: italic;
    position: relative;
    font-size: 1.0em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid rgba(170, 170, 170, 0.5)
}

article blockquote cite {
    font-style: italic
}

article blockquote cite a {
    color: #aaa !important;
    word-wrap: break-word
}

article blockquote cite:before {
    content: '\2014';
    padding-right: .3em;
    padding-left: .3em;
    color: #aaa
}

@media only screen and (min-width: 992px) {
    article blockquote {
        padding-left: 1.5em;
        border-left-width: 4px
    }
}

.group,
body #content > article,
body #content > div > article,
body #content > div > section,
body div.pagination,
#main,
#content {
    *zoom: 1
}

.group:after,
body #content > article:after,
body #content > div > section:after,
body div.pagination:after,
#main:after,
#content:after,
.sidebar:after {
    content: "";
    display: table;
    clear: both
}

body {
    -webkit-text-size-adjust: none;
    max-width: 1200px; /* original is 1200px but for some reason it is smaller in my screen */
    position: relative;
    margin: 0 auto;
}

body div.pagination {
    margin-left: 18px;
    margin-right: 18px
}

@media only screen and (min-width: 480px) {
    body div.pagination {
        margin-left: 25px;
        margin-right: 25px
    }
}

@media only screen and (min-width: 768px) {
    body div.pagination {
        margin-left: 35px;
        margin-right: 35px
    }
}

@media only screen and (min-width: 992px) {
    body div.pagination {
        margin-left: 55px;
        margin-right: 55px
    }
}

#content {
    overflow: hidden
}

#content > div {
    width: 100%
}

ul.sidebar-nav li {
    display: inline;
}

.toggle-sidebar,
.no-sidebar .toggle-sidebar {
    display: none
}

@media only screen and (min-width: 750px) {
    body.sidebar-footer aside.sidebar {
        float: none;
        width: auto;
        clear: left;
        margin: 0;
        padding: 0 35px 1px;
        /*background-color: #f7f7f7;*/
        /*border-top: 1px solid #eaeaea*/
    }

    body.sidebar-footer aside.sidebar section.odd,
    body.sidebar-footer aside.sidebar section.even {
        float: left;
        width: 48%
    }

    body.sidebar-footer aside.sidebar section.odd {
        margin-left: 0
    }

    body.sidebar-footer aside.sidebar section.even {
        margin-left: 4%
    }

    body.sidebar-footer aside.sidebar.thirds section {
        width: 30%;
        margin-left: 5%
    }

    body.sidebar-footer aside.sidebar.thirds section.first {
        margin-left: 0;
        clear: both
    }
}

body.sidebar-footer #content {
    margin-right: 0
}

body.sidebar-footer .toggle-sidebar {
    display: none
}

/*@media only screen and (min-width: 992px) {*/
/*    #content {*/
/*        margin-right: 320px; !* increase this by X where X is the increase in width of aside.sidebar a few line down *!*/
/*    }*/

/*    #content > div,*/
/*    #content > article {*/
/*        padding-top: 0.5em;*/
/*        padding-bottom: 0.5em;*/
/*    }*/

/*}*/

.no-placeholder body > nav .search {
    background: #f2f2f2 0.3em 0.25em no-repeat;
    text-indent: 1.3em
}

@media only screen and (min-width: 550px) {
    .maskImage body > nav ul[data-subscription$=email] + form {
        width: 123px
    }
}

@media only screen and (min-width: 992px) {
    .maskImage body > nav ul[data-subscription$=email] + form {
        width: 173px
    }
}

.maskImage ul.subscription {
    position: relative;
    top: .2em
}

.maskImage ul.subscription li,
.maskImage ul.subscription a {
    border: 0;
    padding: 0
}

.maskImage a[rel=subscribe-rss] {
    position: relative;
    top: 0;
    text-indent: -999999em;
    background-color: #dedede;
    border: 0;
    padding: 0
}

.maskImage a[rel=subscribe-rss],
.maskImage a[rel=subscribe-rss]:after {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 22px;
    height: 22px
}

.maskImage a[rel=subscribe-rss]:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #ababab
}

.maskImage a[rel=subscribe-rss]:hover:after {
    background-color: #9e9e9e
}

.maskImage a[rel=subscribe-email] {
    position: relative;
    top: 0;
    text-indent: -999999em;
    background-color: #dedede;
    border: 0;
    padding: 0
}

.maskImage a[rel=subscribe-email],
.maskImage a[rel=subscribe-email]:after {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 28px;
    height: 22px
}

.maskImage a[rel=subscribe-email]:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #ababab
}

.maskImage a[rel=subscribe-email]:hover:after {
    background-color: #9e9e9e
}


article h2:first-child,
article header + h2 {
    background: none
}

article .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 2.0em;
    font-style: italic;
    line-height: 1.3em
}

article .caption-wrapper .caption-text {
    background: #fff;
    text-align: center;
    font-size: .8em;
    color: #666;
    display: block
}

article video {
    display: block;
    width: 100%
}

article .flash-video > div {
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    padding-top: 1px;
    height: 0;
    overflow: hidden
}

article .flash-video > div iframe,
article .flash-video > div object,
article .flash-video > div embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

article > footer {
    padding-bottom: 0.3em; /* decrease footer padding */
    margin-top: 0.3em;
}

article > footer p.meta {
    margin-bottom: .8em;
    font-size: .85em;
    clear: both;
    overflow: hidden
}

.blog-index article + article {
}


#content .blog-index article h1 a {
    color: inherit
}

#content .blog-index article h1 a:hover::before {
    /*color: #0181eb*/
    /*content: "→"*/
}

#content .blog-index article h1:hover::before {
    /*color: #0181eb*/
    left: -1em;
    position: absolute;
    padding-right: 0.5em;
    font-size: 0.5em;
    content: "→"
}


#content .blog-index a[rel=full-article]:hover {
    background: #0181eb;
    text-shadow: none;
    color: #f8f8f8
}

#content .blog-index footer {
    margin-top: 1em
}

.separator,
article > footer .byline + time:before,
article > footer time + time:before,
article > footer .comments:before,
article > footer .byline ~ .categories:before {
    content: "\2022 ";
    padding: 0 .4em 0 .2em;
    display: inline-block
}

/* pagination stuff */
#content div.pagination {
    text-align: center;
    font-size: .95em;
    position: relative;
    padding-top: 1.5em;
    padding-bottom: 1.5em
}

#content div.pagination a {
    text-decoration: none;
    color: #000;
    padding-left: 0.4em; /* horizontal space between pagination links */
}

#content div.pagination a:hover { /* hover color for pagination links/icons */
    color: #0181eb
}

p.meta + .sharing {
    padding-top: 1em;
    padding-left: 0;
}

div.highlight {
    background-color: #f0f0f0;
    margin: 1em 0;
    overflow-x: scroll;
}

pre {
    line-height: 1.45em;
    padding: 0.5em;
}

pre > code {
    /* overflow-x: auto; */
}

h3.filename + pre {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0
}


p pre code,
li pre code {
    font-size: 1em !important;
    background: none;
    border: none
}

figure.code {
    background: none;
    padding: 0;
    border: 0;
    margin-bottom: 1.5em
}

figure.code pre {
    margin-bottom: 0
}

figure.code figcaption {
    position: relative
}

.code-title,
html .gist .gist-file .gist-meta a[href*='#file'],
h3.filename,
figure.code figcaption { /* figcaption changes */

    border: 1px solid #a5a5a5;
    border-top-color: #cbcbcb;
    border-bottom: 0 #565656;
    font-size: 90%; /* change size of font in figcaption */
}

.download-source,
html .gist .gist-file .gist-meta a[href*=raw],
figure.code figcaption a {
    position: absolute;
    right: .8em;
    text-decoration: none;
    color: #666 !important;
    z-index: 1;
    font-size: 13px;
    text-shadow: #cbcccc 0 1px 0;
    padding-left: 3em
}

.download-source:hover,
html .gist .gist-file .gist-meta a[href*=raw]:hover,
figure.code figcaption a:hover {
    text-decoration: underline
}

#archive #content > div,
#archive #content > div > article {
    padding-top: 0
}

#blog-archives {
    /* color: #aaa */
}

#blog-archives article {
    padding: 1em 0 1em;
    position: relative;
}

#blog-archives article:last-child {
    background: none
}

#blog-archives article footer {
    padding: 0;
    margin: 0
}

#blog-archives h1 {
    color: #222;
    margin-bottom: .3em
}

#blog-archives h2 {
    display: none
}

#blog-archives h1 {
    font-size: 1.5em
}

#blog-archives h1 a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    display: inline-block
}

#blog-archives h1 a:hover {
    text-decoration: underline
}

#blog-archives h1 a:hover {
    color: #0181eb
}

#blog-archives a.category,
#blog-archives time {
    color: #aaa;

}

#blog-archives time {
    font-size: .9em;
    line-height: 1.2em
}

#blog-archives time .month,
#blog-archives time .day {
    display: inline-block;
}

#blog-archives time .month {
    text-transform: uppercase
}

#blog-archives p {
    margin-bottom: 1em
}

#blog-archives a,
#blog-archives .entry-content a {
    color: inherit
}

#blog-archives a:hover,
#blog-archives .entry-content a:hover {
    color: #0181eb
}

#blog-archives a:hover {
    color: #0181eb
}

@media only screen and (min-width: 550px) {
    #blog-archives article {
        /*margin-left: 5em*/
    }

    #blog-archives article h1 {
        margin-top: 0.3em;
    }

    #blog-archives h2 {
        margin-bottom: 0.3em;
        font-weight: normal;
        /* display: inline-block; */
        /* position: relative; */
        top: -1px;
        display: block;
        /* float: left; */

    }

    #blog-archives time {
        position: absolute;
        text-align: right;
        left: 0;
        top: 3em; /* may need to change this to align the month/date on the tag/category (archive) pages with post name */
    }

    /* #blog-archives .year {
         display: none;
     }*/
    #blog-archives article {
        /*padding-left: 4.5em;*/
        padding-bottom: .7em;
    }

    #blog-archives a.category {
        line-height: 1.1em;
    }
}

#content > .category article {
    margin-left: 0;
    padding-left: 6.8em
}

#content > .category .year {
    display: inline;
}

.side-shadow-border,
aside.sidebar section h1,
aside.sidebar li {
    /*-webkit-box-shadow: #fff 0 1px;*/
    /*-moz-box-shadow: #fff 0 1px;*/
    /*box-shadow: #fff 0 1px*/
}


@media only screen and (min-width: 768px) {


    .toggle-sidebar:hover {
        background: #e9e9e9;
        background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(224, 224, 224, 0.5)), color-stop(100%, rgba(224, 224, 224, 0)));
        background: -webkit-linear-gradient(left, rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0));
        background: -moz-linear-gradient(left, rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0));
        background: -o-linear-gradient(left, rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0));
        background: linear-gradient(left, rgba(224, 224, 224, 0.5), rgba(224, 224, 224, 0))
    }



    .collapse-sidebar .toggle-sidebar {
        text-indent: 0;
        right: -20px;
        width: 19px
    }

    .collapse-sidebar .toggle-sidebar:hover {
        background: #e9e9e9
    }

    .collapse-sidebar .toggle-sidebar:after {
        text-shadow: #fff 0 1px;
        content: "\00AB";
        left: 0;
        right: 0;
        text-align: center;
        text-indent: 0;
        border-width: 0;
        border-left: solid #e0e0e0;
        background: none
    }
}

table,
th,
td {
    border: 1px solid black;
    padding: 3px;
}

th {
    font-weight: bold;
    text-align: center;
}

/* Taken from hyde-x.css to format labels (categories) as octopress doesn't have  */
footer span.categories a.label:first-child {
    padding-left: 0;
    margin-left: 0
}

.label {
    margin: 0;
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    text-align: center;
    vertical-align: baseline;
}

a.label:hover,
a.label:focus {
    /* color: #000; */
    /* text-decoration: none; */
    cursor: pointer;
}

.label:empty {
    display: none;
}

.posts a.label,
.post-date a.label {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* overflow for backtick code block
   by just modifying div.highlight I will screw the codecaption overflow as they have div.highlight too.
   This ">" syntax is something new that I learned.
   basically it will select only div.highlights that are direct childs of entry-content */
div.entry-content > div.highlight,
div.blog-index article > div.highlight {
    /* border-color: #002B36; */
    overflow-x: scroll;
}
