@import "color-vars";
header.site {
  text-align: center;
  margin-bottom: 1em;
  h1 {
    font-size: 2.2em;
    color: $header1-light;
    a {
      color: $header1-light;
      text-decoration: none;
      &:visited{
        color: $header1-light;
      }
    }
    @include sm {
      font-size: 1.8em;
    }
  }

  h2 {
    font-size: 1.7em;
    color: $header2-light;

    @include sm {
      font-size: 1.4em;
    }
  }
}
div.homepage-content, nav, div.article, div.list, div.single, footer {
  margin-left: auto;
  margin-right: auto;

  @include sm {
    margin-left: 1em;
    margin-right: 1em;
  }

  @include md {
    margin-left: 2em;
    margin-right: 2em;
  }
  @include lg {
    max-width: 45em;
  }

  @include xl {
    max-width: 60em;
  }
}

