@import "mixins";
@import "color-vars";
nav {
  margin-bottom: 1em;
  ul.main-navigation {
    display: block;

    li {
      display: inline-block;
      list-style-image: none;
      list-style-type: none;
      font-weight: bold;
      a {
        text-decoration: none;
        @include set-color($menu-light, $menu-dark);
        padding-right: 1em;

        &:visited{
          @include set-color($menu-light, $menu-dark);
        }
      }
    }

    @include sm {
      font-size: 1em;
    }

  }
}
