@import "mixins";
@import "color-vars";
nav {
  margin-bottom: 1em;
  ul.main-navigation {
    display: block;
    li {
      display: inline-block;
      list-style-image: none;
      list-style-type: none;
      font-weight: bold;
      a {
        text-decoration: none;
        color: $menu-dark;
        padding-right: 1em;
      }
    }

  }
}
