@import "fonts";
@import "mixins";

body header.site {
  font-size: 1.7em;
  padding: 0.5em;

  @include sm {
    padding: 0.8em 25px 1.5em;
    font-size: 1em
  }
  @include md {
    font-size: 1.2em;
    padding-bottom: 0.25em;
  }

  @include lg {
    font-size: 1.3em
  }

  h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;

    font-family: $font-title;

    @include sm {
      margin-bottom: 0;
    }

    @include md {
      margin-bottom: 0.2em;
    }

    a {
      color: #333;
      text-decoration: none;

      &:visited, &:hover {
        @extend a
      }
    }
  }

  h2 {
    display: inline-block;
    position: relative;
    margin: .2em 0 0;
    font-size: 1em;
    color: #aaa;
    font-weight: normal;

    @include sm {
      float: right;
    }
  }
}
