$background-light: #fff;
$background-dark: #111;
$text-light: #fff;
$text-dark: #111;
$header-light: #333;
$header-dark: #eee;

$header1-light: #333;
$header2-light: #aaa;

$nav-link-hover-light: #2b2b2b;
$nav-link-hover-dark: #6b6b6b;

$link-light: #eee;
$link-dark: #333;

$link-hover-light: #6b6b6b;
$link-hover-dark: #111;
