body {
  background-color: #f1ccd8 !important;
}

header {
  background-color: #b76e89 !important;
}

nav {
  background-color: #b7ab6e !important;
}

footer {
  background-color: #93b76e !important;
}

aside {
  background-color: #6eb797 !important;
}

article {
  background-color: #8c4a19 !important;
}


