@import "mixins";
@import "color-vars";

div.sharing {
  float: none;

  a {
    @include set-color($nav-link-hover-light, $nav-link-hover-dark);

    &:hover {
      color: red;
    }

    i.fa {
      padding: 0.5em;
      font-size: 1.5em;
    }
  }
}
