{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <header>
          <h1 class="entry-title">
          {{ .Title }}
          </h1>
        </header>
        <div id="blog-archives" class="category">

          <ul>
          {{ range .Data.Pages.ByTitle }}

            <li>
              <a href="{{ .Permalink }}" class="category-title" title="{{ .Title }}">#{{ .Title }} ({{ index .Data .Data.Singular | len }})</a>
              <ul>
                {{ range index .Data .Data.Singular}}
                  <li><a href="{{.Permalink}}" title="{{ .Title }}">{{.Title}}</a></li>
                {{ end }}
              </ul>
            </li>
          {{ end }}
          </ul>
        </div>
      </article>
    </div>

    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
