{{ partial "header.html" . }}

<div id="main">
 <div id="content">
  <div class="blog-index">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
    {{ range $paginator.Pages }}
    <article class="list">
        {{ .Scratch.Set "isHome" true }}
        {{ partial "post_header.html" . }}

        {{ if .Params.categories }}
        <div class="list-post-tags">
         {{ range first 3 .Params.categories }}
         <a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}/">#{{ . }}</a>
         {{ end }}
        </div>
        {{ end }}

        {{ if eq .Site.Params.truncate false }}
        {{ .Content }}
        {{ else if .Description }}
        {{ .Description }}
          <footer>
            <a href="{{ .Permalink }}" rel="full-article">{{ with .Site.Params.continueReadingText }}{{ . }}{{ else }}Continue Reading{{ end }} &rarr;</a>
          </footer>
        {{ else }}
          <p>{{ .Summary }}</p>

          {{ if .Truncated }}
              <footer>
                  <a href="{{ .Permalink }}" rel="full-article">{{ with .Site.Params.continueReadingText }}{{ . }}{{ else }}Continue Reading{{ end }} &rarr;</a>
              </footer>
          {{ end }}

        {{ end }}

    </article>
    {{ end }}
    <!-- {{ template "_internal/pagination.html" . }} default pagination -->
    {{ partial "pagination.html" . }}  <!-- use custom pagination -->

  </div>

 </div>
</div>

{{ partial "footer.html" . }}   <!-- footer -->
